Explore os datasets do Seaborn. Escolha um dataset no qual deseja realizar um teste de hipótese. Exemplo: vou utilizar um teste de hipótese no dataset "penguins". Minha hipótese nula é que os pinguins machos e fêmeas têm o mesmo peso.

Diferentemente do que foi feito na Atividade Avaliativa 3, você não pode utilizar o dataset inteiro. Você tem que usar uma amostra do dataset que não seja maior que 20% do dataset. Para ver como obter amostras de um dataframe Pandas, consulte: https://datatofish.com/random-rows-pandas-dataframe/

O mais importante nesta atividade não é mostrar o código Python e sim descrever seu teste de hipótese de forma clara. Para tanto, utilize células de Markdown para descrever o teste e, ao final, discuta o resultado obtido.

Importante: Você NÃO pode usar os datasets penguins e tips.

-------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------




O teste de hipótese que realizei foi baseado no dataset "iris". ***Minha hipótese nula foi de que não há diferença significativa entre os comprimentos das pétalas das espécies "setosa" e "versicolor" de íris.***


Para realizar o teste, selecionei uma amostra aleatória do dataset que não excedesse 20% do tamanho total. Utilizei essa amostra para comparar as médias dos comprimentos das pétalas das duas espécies e verifiquei se havia diferença significativa entre elas.


Usei o *teste t* de Student para essa comparação. Ele fornece uma *estatística t *e um *valor-p.* O *valor-p *é a probabilidade de obter uma diferença tão grande ou maior entre as médias dos comprimentos das pétalas, assumindo que a hipótese nula seja verdadeira. \


Com um nível de significância de 0,05 (ou 5%), realizei o teste de hipótese. Se o valor-p fosse menor que 0,05, poderíamos rejeitar a hipótese nula e concluir que existia uma diferença significativa nos comprimentos das pétalas entre as espécies "setosa" e "versicolor". Caso contrário, não teríamos evidências suficientes para rejeitar a hipótese nula.

In [9]:
import seaborn as sns
import pandas as pd
from scipy import stats


iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
amostra = iris[iris["species"].isin(["setosa", "versicolor"])].sample(frac=0.2, random_state=42)
amostra.head()

    sepal_length  sepal_width  petal_length  petal_width     species
83           6.0          2.7           5.1          1.6  versicolor
53           5.5          2.3           4.0          1.3  versicolor
70           5.9          3.2           4.8          1.8  versicolor
45           4.8          3.0           1.4          0.3      setosa
44           5.1          3.8           1.9          0.4      setosa

In [12]:
setosa = amostra[amostra["species"] == "setosa"]["petal_length"]
versicolor = amostra[amostra["species"] == "versicolor"]["petal_length"]

t_statistic, p_value = stats.ttest_ind(setosa, versicolor)
t_statistic, p_value

(-20.186905796683455, 8.202763326991507e-14)

 ***Podemos rejeitar a hipótese nula.*** Isso significa que há evidências estatísticas para concluir que os comprimentos das pétalas das espécies "setosa" e "versicolor" de íris são significativamente diferentes.